[submodule "submodules/HoloEverywhere"]
	path = submodules/HoloEverywhere
	url = git://github.com/ChristopheVersieux/HoloEverywhere.git
[submodule "submodules/pulltorefresh"]
	path = submodules/pulltorefresh
	url = git://github.com/ax003d/android-pulltorefresh.git
