<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ax003d.sichu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- get IMEI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- umeng crash report -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- umeng feedback -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Holo.Theme.Light.DarkActionBar" >
        <activity
            android:name="com.ax003d.sichu.SplashActivity"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"
            android:theme="@style/Holo.Theme.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ax003d.sichu.LoginActivity"
            android:label="@string/activity_login" >
        </activity>
        <activity
            android:name="com.ax003d.sichu.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <provider
            android:name="com.ax003d.sichu.providers.SichuContentProvider"
            android:authorities="com.ax003d.sichu.providers.SichuContentProvider"
            tools:ignore="ExportedContentProvider" >
        </provider>

        <!-- umeng feedback activities -->
        <activity
            android:name="com.umeng.fb.ui.SendFeedback"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.umeng.fb.ui.FeedbackConversations" />
        <activity
            android:name="com.umeng.fb.ui.FeedbackConversation"
            android:configChanges="keyboard" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="50f6b7e652701568ed00001f" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="sichu" />
    </application>

</manifest>